footer {
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid rgb(229, 229, 229);
    margin: 0 auto;

    p {
        font-size: 14px;
        font-family: "Montserrat";
        color: $darkGray;
        line-height: 1.2;
    }
}